<!doctype html>
<html lang="en">
<head>
    <%- include('../layout/header') %>

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>

    <style>
        
        table.dataTable tbody tr:hover {
            background-color: #ececec;
            cursor: pointer;
        }

        table.dataTable tbody tr:hover > .sorting_1 {
            background-color: #ececec;
            cursor: pointer;
        }

        table.dataTable thead tr th {
            font-size : 13px;
        }

        .pagination > li {
            margin-right: 10px;
        }

    </style>

    <script>
        var boardType = '<%= input.type %>';

        $(document).ready(function () {

            selectBoardList();

            $("#example").on('click', 'tbody tr', function () {
                var row = $("#example").DataTable().row($(this)).data();
                location.href = '/board/detail?type=' + boardType + '&boardId=' + row.boardId;
            });

        });

        function selectBoardList() {
            
            $('#example').DataTable({
                processing: true,
                serverSide: true,
                destroy : true,
                searching : false,                
                ajax : {
                    url : '/board/selectBoardList',
                    type : 'POST',
                    data : {
                        type : boardType
                    }
                },                
                pagingType: 'simple_numbers',
                order: [[0, 'desc']],
                columnDefs: [
                    { className: "dt-head-center", targets: [ 0, 1, 2, 3, 4 ] },
                    { className: "dt-center", targets: [ 0, 2, 3, 4 ] }
                ],
                "columns" : [ 
                    { "width" : "7%", data : 'no' }, 
                    { "width" : "54%", data : 'title', render : function(data, type, row, meta) {
                        return row.title + "<span class='ms-sm-1' style='font-size: 10px; color: red'>[" + row.replyCnt + "]</span>"
                    } }, 
                    { "width" : "15%", data : 'userName' }, 
                    { "width" : "15%", data : 'createDate' }, 
                    { "width" : "7%", data : 'views' }
                ]
            });
        }

    </script>

</head>
<body>
    <div class="page">
        <%-include('../layout/navbar')%>
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="page-title">Board</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-fluid">
                    <!-- Content here -->
                    <div class="row row-cards">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="example" class="table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>번호</th>
                                                <th>제목</th>
                                                <th>작성자</th>
                                                <th>작성일</th>
                                                <th>조회수</th>
                                            </tr>
                                        </thead>
                                    </table>                                    
                                    <div class="d-flex" style="margin-top: 10px">
                                        <button type="button" class="btn btn-primary ms-auto">New</button>
                                    </div>                                    
                                </div>                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="./dist/js/tabler.min.js"></script>
    <script src="./dist/js/demo.min.js"></script>
</body>

</html>